{"openapi":"3.0.0","info":{"description":"Cybersec API documentation","version":"1.0.0","title":"Cybersec API"},"servers":[{"url":"https://cybersec.nordstellar.com"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Set token with a prefix like this: `token:69405a802dba4f57804e5fff11061946a579d159d1a51760d19a50aec241adc9`"}},"parameters":{"ListCategory":{"name":"listCategory","in":"path","schema":{"$ref":"#/components/schemas/ListCategory"},"description":"List category","required":true},"ListIdentifier":{"name":"listIdentifier","in":"path","schema":{"$ref":"#/components/schemas/ListIdentifier"},"description":"List identfier","required":true},"ListVersion":{"name":"version","in":"query","schema":{"$ref":"#/components/schemas/ListVersion"},"description":"List version","required":false}},"schemas":{"ErrorResponse":{"type":"object","properties":{"errors":{"type":"object","properties":{"code":{"type":"integer","example":123},"message":{"type":"string","example":"Some error"}}}}},"ListAction":{"type":"string","enum":["block","allow","no-mitm","redirect"],"description":"Action to take when ant item is matched in this list"},"ListCategory":{"type":"string","enum":["adblock","tracking","malwaresec","broken-apps","urlstripping","cookies"]},"ListFormat":{"type":"string","enum":["abp","zone","domain","queryparam"],"description":"List content format"},"ListIdentifier":{"type":"string","example":"kPayrrMJP0d4nEPl"},"ListVersion":{"type":"string","example":20200501120000},"Sha1Checksum":{"type":"string","example":"82751542dc5cd0ce4b0b78d61302ca058f8dac12"},"X-Correlation-ID":{"type":"string","format":"uuid","example":"ddd58a90-57c3-4bd1-a9ed-649a9451f0a7","description":"Unique identifier for correlating requests, responses and logs across distributed services"},"X-RateLimit-Retry-After":{"type":"string","format":"rfc3999","example":"2024-03-25T15:19:06.000Z","description":"Time when requests to the resource aren't limited."},"Sha256Checksum":{"type":"string","example":"dc460da4ad72c482231e28e688e01f2778a88ce31a08826899d54ef7183998b5"},"CybersecList":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/ListAction"},"category":{"$ref":"#/components/schemas/ListCategory"},"format":{"$ref":"#/components/schemas/ListFormat"},"identifier":{"$ref":"#/components/schemas/ListIdentifier"},"latest_version":{"$ref":"#/components/schemas/ListVersion"},"latest_version_checksum":{"$ref":"#/components/schemas/Sha1Checksum"},"uri":{"description":"List content download URL","type":"string","example":"/v1/cybersec/lists/adblock/kPayrrMJP0d4nEPl"},"language":{"type":"string","example":"en"}}},"UrlscannerConfigResponse":{"type":"object","properties":{"lists":{"type":"array","items":{"$ref":"#/components/schemas/CybersecList"}},"process_allow_list":{"type":"array","items":{"type":"string"}},"av_scan_types":{"type":"array","items":{"type":"string"}},"client_url_cloud_timeout":{"type":"object","properties":{"value":{"type":"integer","minimum":0},"unit":{"type":"string"}}},"allowed_domains_update_period":{"type":"object","properties":{"value":{"type":"integer","minimum":0},"unit":{"type":"string"}}},"cookie_leak_check_period":{"type":"object","properties":{"value":{"type":"integer","minimum":0},"unit":{"type":"string"}}},"cookie_leak_core_resp_ttl":{"type":"object","properties":{"value":{"type":"integer","minimum":0},"unit":{"type":"string"}}}}},"UrlCategory":{"type":"number","enum":[0,1,2,3,4,5,6,7],"description":"Category identifiers:\n * `0` - Unknown URL category\n * `1` - Either the URL is missing from the database, or it is known to be clean\n * `2` - Malware\n * `3` - Phishing\n * `4` - Spam\n * `5` - Potentially Unwanted Application / Web page containing PUAs\n * `6` - Potentially Unwanted Search Engine\n * `7` - Scam\n"},"UrlCategoryDetails":{"type":"object","properties":{"7":{"type":"array","description":"Scam","items":{"type":"number","description":"Scam subcategory identifiers:\n * `1` B2B scam\n * `2` Chargeback money recovery scam\n * `3` Cryptocurrency scam\n * `4` Dating and romance scam\n * `5` Employment scam\n * `6` Fake IT and tech support scam\n * `7` Illegal products and services scam\n * `8` Intellectual property violation scam\n * `9` Investment scam\n * `10` Malware scam\n * `11` Online shopping scam\n * `12` Phishing scam\n * `13` Fake website scam\n * `14` Spam and abuse scam\n * `15` Subscription scam\n * `16` Other scam\n"}}}},"UrlCategories":{"type":"array","items":{"$ref":"#/components/schemas/UrlCategory"}},"UrlCheckStatus":{"type":"number","enum":[0,1,2],"description":"Codes:\n * `0` - Check performed successfully\n * `1` - URL check failed. URL is either malformed or an unknown error has occurred\n * `2` - Check is pending in backend, repeat a request for this url later\n"},"UrlCheckResult":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"status":{"$ref":"#/components/schemas/UrlCheckStatus"},"categories":{"$ref":"#/components/schemas/UrlCategories"},"category_details":{"$ref":"#/components/schemas/UrlCategoryDetails"}}},"AllowedDomainsItem":{"type":"object","properties":{"url":{"type":"string"},"categories":{"type":"array","items":{"$ref":"#/components/schemas/UrlCategory"}}}},"AllowedDomains":{"type":"object","properties":{"whitelist":{"type":"array","items":{"$ref":"#/components/schemas/AllowedDomainsItem"}},"exceptions":{"type":"array","items":{"$ref":"#/components/schemas/AllowedDomainsItem"}}}},"AllowedDomainsHashed":{"type":"object","properties":{"whitelist":{"type":"array","items":{"type":"string"}},"exceptions":{"type":"object"},"additionalProperties":{"$ref":"#/components/schemas/UrlCategory"}}},"UrlCheckRequest":{"type":"object","required":["urls"],"properties":{"urls":{"type":"array","items":{"type":"string","format":"uri"}}}},"UrlCheckResponse":{"type":"object","properties":{"urls":{"type":"array","items":{"$ref":"#/components/schemas/UrlCheckResult"}},"cache":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string","format":"uri-reference"},"ttl":{"type":"number"},"categories":{"$ref":"#/components/schemas/UrlCategories"}}}}}},"UrlCategoriesResponse":{"type":"object","properties":{"categories":{"type":"array","items":{"type":"object","properties":{"category":{"$ref":"#/components/schemas/UrlCategory"},"name":{"type":"string"},"block":{"type":"boolean"},"subcategories":{"$ref":"#/components/schemas/UrlCategoryDetails"}}}}}},"FileExtensionsResponse":{"type":"object","properties":{"pe_extensions":{"type":"array","items":{"type":"string"},"description":"Files ending with these extensions are portable executables and can be uploaded if asked"},"non_pe_extensions":{"type":"array","items":{"type":"string"},"description":"Files ending with these extensions are non portable executables"}}},"FileMimeTypesResponse":{"type":"object","properties":{"deep_scan_types":{"type":"array","items":{"type":"string"},"description":"Files with these MIME types should be checked with deep scan, similar to PE extensions"},"scan_types":{"type":"array","items":{"type":"string"},"description":"Files with these MIME types should be checked with regular scan, similar to non-PE extensions"}}},"FileCheckRequestV2":{"type":"object","properties":{"files":{"type":"array","items":{"type":"object","required":["sha256"],"properties":{"sha256":{"$ref":"#/components/schemas/Sha256Checksum"},"can_upload":{"type":"boolean"},"size":{"type":"number","example":256},"name":{"type":"string","example":"file.exe"},"url":{"type":"string","example":"https://foo.bar/file.exe"}}}}}},"FileCheckRequestV3":{"type":"object","properties":{"files":{"type":"array","items":{"type":"object","required":["sha256"],"properties":{"sha256":{"$ref":"#/components/schemas/Sha256Checksum"},"can_upload":{"type":"boolean"},"size":{"type":"number","example":256},"name":{"type":"string","example":"file.exe"},"url":{"type":"string","example":"https://foo.bar/file.exe"},"mime_type":{"type":"string","example":"application/vnd.microsoft.portable-executable"}}}}}},"FileCategory":{"type":"number","enum":[0,1,2],"description":"Codes:\n * `0` - File was not found in malware database\n * `1` - File is clean\n * `2` - File is infected with malware\n"},"FileCheckStatus":{"type":"number","enum":[0,1,2,3],"description":"Codes:\n * `0` - OK, Check performed successfully\n * `1` - An unknown error has occurred, file check failed\n * `2` - Check is pending in backend, repeat a request for this file after TTL number of seconds\n * `3` - File is not found, upload is required for further inspection\n"},"FileCheckResponseV2":{"type":"object","properties":{"files":{"type":"array","items":{"type":"object","properties":{"sha256":{"$ref":"#/components/schemas/Sha256Checksum"},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/FileCategory"},"description":{"type":"string","description":"Name of the malware","example":"LINUX/Hajime.nsnlw"}}}},"ttl":{"type":"number"},"status":{"$ref":"#/components/schemas/FileCheckStatus"},"upload_url":{"type":"string","description":"Destination URL where file should be uploaded"}}}}}},"FileCheckResponseV3":{"type":"object","properties":{"files":{"type":"array","items":{"type":"object","properties":{"sha256":{"$ref":"#/components/schemas/Sha256Checksum"},"categories":{"type":"array","items":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/FileCategory"},"description":{"type":"string","description":"Name of the malware","example":"LINUX/Hajime.nsnlw"}}}},"ttl":{"type":"number"},"status":{"$ref":"#/components/schemas/FileCheckStatus"},"upload_url":{"type":"string","description":"Destination URL where file should be uploaded"}}}}}},"MlModelInfo":{"type":"object","properties":{"name":{"type":"string","description":"ML Model name","example":"model-win32"},"project_id":{"type":"string","description":"Gitlab project ID where the model is stored","example":"1234"},"project_name":{"type":"string","description":"Gitlab project name where the model is stored","example":"quickscan"},"url":{"type":"string","format":"uri","description":"Url where the model file is stored","example":"https://path-to-s3"},"identifier":{"type":"string","description":"ML Model version identifier","example":"2.0.0"},"threshold_low":{"type":"number","format":"float","description":"Lower limit for ML model threshold","example":0.78},"threshold_high":{"type":"number","format":"float","description":"Higher limit for ML model threshold","example":0.98}}},"ApplicationsCheckRequest":{"type":"object","properties":{"os":{"type":"string","description":"OS from which applications are being checked. This field is optional, used for logging only, and will be used for filtering in next phases","example":"Windows"},"os_version":{"type":"string","description":"OS version from which applications are being checked. This field is optional, used for logging only, and will be used for filtering in next phases","example":"11.0.1"},"applications":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Google Chrome"},"version":{"type":"string","example":"1.0.0"}}}}}},"ApplicationsCheckResponse":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Google Chrome"},"version":{"type":"string","example":"1.0.0"},"description":{"type":"string","example":"Memory leak for big form inputs"},"fixed_version":{"type":"string","example":"1.2.0"},"severity":{"type":"number","format":"float","example":9.5}}}},"CookiesCheckRequest":{"type":"object","properties":{"short_cookie_sha256":{"type":"array","items":{"type":"string","example":"12345678"},"description":"List of cookie hashes (8 char) to be checked"}}},"CookiesCheckResponse":{"type":"object","properties":{"cookies":{"type":"array","items":{"type":"object","properties":{"hash":{"type":"string","example":"7fdd4cb8d64ca4f37e697cf77d580feaf3823d62860b3fd3429108332feea153","description":"This hash is composed by a hashed combination of domain + cookie-hash"},"domain":{"type":"string","example":"the-leaked-domain-here.com"}}}}}},"CryptoAddressesCheckRequest":{"type":"object","properties":{"url":{"type":"string","example":"https://example.com/abc"},"addresses":{"type":"array","items":{"type":"string","example":"0x43fbzxc24jg234f34"},"description":"List of crypto addresses to be checked"}}},"CryptoAddressesCheckResponse":{"type":"object","properties":{"reputations":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string","example":"0xABC12345abc123","description":"Crypto address"},"category":{"$ref":"#/components/schemas/ReputationCategory","example":2},"chains":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"string"},"risks":{"type":"array","items":{"type":"object","properties":{"risk_category":{"$ref":"#/components/schemas/RiskCategory","descriptions":"A risk category level associated with the address"}}}}}}}}}}}},"ReputationCategory":{"type":"number","enum":[0,1,2,3],"description":"Codes:\n * `0` - Unspecified\n * `1` - Safe\n * `2` - Warning\n * `3` - Unsafe\n"},"RiskCategory":{"type":"number","enum":[0,1,2,3],"description":"Codes:\n * `0` - Unspecified\n * `1` - Fraud\n * `2` - Cyber\n * `3` - Compliance\n"}},"responses":{"InvalidCredentials":{"description":"Invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Invalid credentials":{"value":{"errors":{"code":100104,"message":"Invalid credentials"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"InvalidFormData":{"description":"Invalid form data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Invalid form data":{"value":{"errors":{"code":904164,"message":"Invalid form data: {...}"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"ServiceForbidden":{"description":"Service is forbidden for the user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Service is forbidden for the user":{"value":{"errors":{"code":100166,"message":"Service is forbidden for the user"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"ContentTooLarge":{"description":"Content too large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Content too large":{"value":{"errors":{"code":904168,"message":"Url requested is too large. Limit is 65535"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"UnprocessableEntity":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Content too large":{"value":{"errors":{"code":904175,"message":"Exceeded the limit of 20 records to check in a batch"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"InternalServerError":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Internal server error":{"value":{"errors":{"code":904177,"message":"An unexpected condition is encountered"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"BadGateway":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Service unavailable":{"value":{"errors":{"code":904180,"message":"Service encountered a temporary error and could not complete your request"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"AuthServiceUnavailable":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Service unavailable":{"value":{"errors":{"code":904178,"message":"Service temporary unavailable"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"ResourcesExhausted":{"description":"Service resources exhausted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Too many requests":{"value":{"errors":{"code":904174,"message":"Too many requests, try again later"}}}}}},"headers":{"X-RateLimit-Retry-After":{"$ref":"#/components/schemas/X-RateLimit-Retry-After"}}}}},"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"URL scanner","description":""},{"name":"Lists","description":""},{"name":"AUC","description":""},{"name":"Urls","description":""},{"name":"Files","description":""}],"paths":{"/v2/cybersec/urlscanner/config":{"get":{"operationId":"urlScannerConfig","tags":["URL scanner"],"summary":"Get config","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UrlscannerConfigResponse"},"example":{"process_allow_list":["chrome","firefox","opera","safari","msedge","com.apple.webkit.networking","brave","iexplore"],"av_scan_types":["text/html","text/javascript","text/ecmascript","text/jscript","text/livescript","text/x-ecmascript","text/x-javascript","application/"],"lists":[{"identifier":"F8e5mS89RX1wDO61","category":"tracking","uri":"/v1/cybersec/lists/tracking/F8e5mS89RX1wDO61","format":"abp","action":"block","latest_version":"20210823105700","latest_version_checksum":"ea08f49338174bd7f4817ef986e21e550363db3e"},{"identifier":"kPayrrMJP0d4nEPl","category":"adblock","uri":"/v1/cybersec/lists/adblock/kPayrrMJP0d4nEPl","format":"abp","action":"block","latest_version":"20210823105700","latest_version_checksum":"998b3c2a3ca07f66a3a0076a45363bacd42b6d77","language":"en"},{"identifier":"3OcJr9MGhdAPyGjI","category":"adblock","uri":"/v1/cybersec/lists/adblock/3OcJr9MGhdAPyGjI","format":"abp","action":"allow","latest_version":"20210519100050","latest_version_checksum":"d9a16f8ca96155c176e0623cf3a0589609869b2e"},{"identifier":"3q3aj2YricicsPQv","category":"broken-apps","uri":"/v1/cybersec/lists/broken-apps/3q3aj2YricicsPQv","format":"domain","action":"no-mitm","latest_version":"20210319092509","latest_version_checksum":"bb500e1e43ca13ea73180b12edc69ac757b6015d"},{"identifier":"cTq1YqEcsNpR1ruh","category":"adblock","uri":"/v1/cybersec/lists/adblock/cTq1YqEcsNpR1ruh","format":"abp","action":"block","latest_version":"20210823115300","latest_version_checksum":"7216fc5e688670fe7a09a4736ca29bfa789693dd","country":"China","language":"zh"},{"identifier":"5NLWMpXKSQbgz5ZH","category":"adblock","uri":"/v1/cybersec/lists/adblock/5NLWMpXKSQbgz5ZH","format":"abp","action":"block","latest_version":"20210823115300","latest_version_checksum":"a51f1eb1d27da26992b55778bec029e2e7221b01","country":"Netherlands","language":"nl"},{"identifier":"vJA2MC9GF6OpuhZd","category":"adblock","uri":"/v1/cybersec/lists/adblock/vJA2MC9GF6OpuhZd","format":"abp","action":"block","latest_version":"20210823120100","latest_version_checksum":"32f73c6282974b858a8a8e0c818c35ca2e3a95a3","country":"Germany","language":"de"},{"identifier":"zxTKIWsO1Xrwbguc","category":"adblock","uri":"/v1/cybersec/lists/adblock/zxTKIWsO1Xrwbguc","format":"abp","action":"block","latest_version":"30July2021v100","latest_version_checksum":"d873c96b25cca99438b07f80653caca49a0f0c62","country":"Lithuania","language":"lt"},{"identifier":"czq4C2v3J0fkUoVn","category":"adblock","uri":"/v1/cybersec/lists/adblock/czq4C2v3J0fkUoVn","format":"abp","action":"block","latest_version":"20210823120100","latest_version_checksum":"b6b4493a9791070a3c9a8a689931b1be76422020","country":"Portugal","language":"pt"},{"identifier":"gq1ytjrZdciTckcb","category":"adblock","uri":"/v1/cybersec/lists/adblock/gq1ytjrZdciTckcb","format":"abp","action":"block","latest_version":"20210823120100","latest_version_checksum":"b67bedd6763d560924f2f9d77da0523c2d507bf0","country":"Spain","language":"es"},{"identifier":"59fYViHeFMlNbgXR","category":"adblock","uri":"/v1/cybersec/lists/adblock/59fYViHeFMlNbgXR","format":"abp","action":"block","latest_version":"20210823115300","latest_version_checksum":"849413bebd720b3cd856fab600c78d15dd8a1743","country":"France","language":"fr"},{"identifier":"Qz5cMyJzteMtAZwz","category":"adblock","uri":"/v1/cybersec/lists/adblock/Qz5cMyJzteMtAZwz","format":"abp","action":"block","latest_version":"20210823120000","latest_version_checksum":"9b77ced596017333e50f793ff67856c8657128ad","country":"Russia","language":"ru"}],"client_url_cloud_timeout":{"value":5,"unit":"s"},"allowed_domains_update_period":{"value":4,"unit":"h"},"cookie_leak_check_period":{"value":1,"unit":"m"},"cookie_leak_core_resp_ttl":{"value":24,"unit":"h"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/lists":{"get":{"operationId":"lists","tags":["Lists"],"summary":"Get lists","description":"Retrieves a list of available cybersec lists","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CybersecList"}},"example":[{"identifier":"F8e5mS89RX1wDO61","category":"tracking","uri":"/v1/cybersec/lists/tracking/F8e5mS89RX1wDO61","format":"abp","action":"block","latest_version":"20210823105700","latest_version_checksum":"ea08f49338174bd7f4817ef986e21e550363db3e"},{"identifier":"kPayrrMJP0d4nEPl","category":"adblock","uri":"/v1/cybersec/lists/adblock/kPayrrMJP0d4nEPl","format":"abp","action":"block","latest_version":"20210823105700","latest_version_checksum":"998b3c2a3ca07f66a3a0076a45363bacd42b6d77","language":"en"},{"identifier":"3OcJr9MGhdAPyGjI","category":"adblock","uri":"/v1/cybersec/lists/adblock/3OcJr9MGhdAPyGjI","format":"abp","action":"allow","latest_version":"20210519100050","latest_version_checksum":"d9a16f8ca96155c176e0623cf3a0589609869b2e"},{"identifier":"3q3aj2YricicsPQv","category":"broken-apps","uri":"/v1/cybersec/lists/broken-apps/3q3aj2YricicsPQv","format":"domain","action":"no-mitm","latest_version":"20210319092509","latest_version_checksum":"bb500e1e43ca13ea73180b12edc69ac757b6015d"},{"identifier":"cTq1YqEcsNpR1ruh","category":"adblock","uri":"/v1/cybersec/lists/adblock/cTq1YqEcsNpR1ruh","format":"abp","action":"block","latest_version":"20210823115300","latest_version_checksum":"7216fc5e688670fe7a09a4736ca29bfa789693dd","country":"China","language":"zh"},{"identifier":"5NLWMpXKSQbgz5ZH","category":"adblock","uri":"/v1/cybersec/lists/adblock/5NLWMpXKSQbgz5ZH","format":"abp","action":"block","latest_version":"20210823115300","latest_version_checksum":"a51f1eb1d27da26992b55778bec029e2e7221b01","country":"Netherlands","language":"nl"},{"identifier":"vJA2MC9GF6OpuhZd","category":"adblock","uri":"/v1/cybersec/lists/adblock/vJA2MC9GF6OpuhZd","format":"abp","action":"block","latest_version":"20210823120100","latest_version_checksum":"32f73c6282974b858a8a8e0c818c35ca2e3a95a3","country":"Germany","language":"de"},{"identifier":"zxTKIWsO1Xrwbguc","category":"adblock","uri":"/v1/cybersec/lists/adblock/zxTKIWsO1Xrwbguc","format":"abp","action":"block","latest_version":"30July2021v100","latest_version_checksum":"d873c96b25cca99438b07f80653caca49a0f0c62","country":"Lithuania","language":"lt"},{"identifier":"czq4C2v3J0fkUoVn","category":"adblock","uri":"/v1/cybersec/lists/adblock/czq4C2v3J0fkUoVn","format":"abp","action":"block","latest_version":"20210823120100","latest_version_checksum":"b6b4493a9791070a3c9a8a689931b1be76422020","country":"Portugal","language":"pt"},{"identifier":"gq1ytjrZdciTckcb","category":"adblock","uri":"/v1/cybersec/lists/adblock/gq1ytjrZdciTckcb","format":"abp","action":"block","latest_version":"20210823120100","latest_version_checksum":"b67bedd6763d560924f2f9d77da0523c2d507bf0","country":"Spain","language":"es"},{"identifier":"59fYViHeFMlNbgXR","category":"adblock","uri":"/v1/cybersec/lists/adblock/59fYViHeFMlNbgXR","format":"abp","action":"block","latest_version":"20210823115300","latest_version_checksum":"849413bebd720b3cd856fab600c78d15dd8a1743","country":"France","language":"fr"},{"identifier":"Qz5cMyJzteMtAZwz","category":"adblock","uri":"/v1/cybersec/lists/adblock/Qz5cMyJzteMtAZwz","format":"abp","action":"block","latest_version":"20210823120000","latest_version_checksum":"9b77ced596017333e50f793ff67856c8657128ad","country":"Russia","language":"ru"}]}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"value":{"errors":{"code":100105,"message":"Authorization header not provided"}}},"Invalid authorization header":{"value":{"errors":{"code":100106,"message":"Invalid authorization header"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/lists/{listCategory}/{listIdentifier}":{"get":{"operationId":"listGet","tags":["Lists"],"summary":"Get list content","description":"This endpoint can return different content versions based on the optional version query parameter. Without this query parameter, it will return the latest content version. Even though it is not mandatory, you should always specify the version parameter if possible.","parameters":[{"$ref":"#/components/parameters/ListCategory"},{"$ref":"#/components/parameters/ListIdentifier"},{"$ref":"#/components/parameters/ListVersion"}],"responses":{"200":{"description":"Successful response","headers":{"X-List-Version":{"schema":{"$ref":"#/components/schemas/ListVersion"},"description":"Version of the returned list"},"X-List-Checksum":{"schema":{"$ref":"#/components/schemas/Sha1Checksum"},"description":"Sha1 sum of the complete list"},"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}},"content":{"text/plain":{"schema":{"type":"string","example":"&ad.vid=$~xmlhttprequest\n&ad_block=\n&ad_classid=\n&ad_code=\n&ad_height=\n&ad_ids=\n&ad_keyword=\n&ad_network_\n&ad_slot=\n&ad_sub=\n&ad_time=\n&ad_type=\n&ad_type_\n&ad_url=\n"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Invalid category parameter":{"value":{"errors":{"code":902151,"message":"Invalid category parameter"}}},"Invalid identifier parameter":{"value":{"errors":{"code":902153,"message":"Invalid identifier parameter"}}},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists~1%7BlistCategory%7D~1%7BlistIdentifier%7D~1diffs/get/responses/404/content/application~1json/examples/List%20not%20found"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/lists/{listCategory}/{listIdentifier}/diffs":{"get":{"operationId":"listGetDiff","tags":["Lists"],"summary":"Get list diff","description":"This endpoint returns category list file differences between two specified versions. Returned diff is formatted in unified patch format (https://www.gnu.org/software/diffutils/manual/html_node/Example-Unified.html#Example-Unified).","parameters":[{"$ref":"#/components/parameters/ListCategory"},{"$ref":"#/components/parameters/ListIdentifier"},{"name":"version_from","in":"query","schema":{"$ref":"#/components/schemas/ListVersion"},"description":"Version of the list to calculate diff from","required":true},{"name":"version_to","in":"query","schema":{"$ref":"#/components/schemas/ListVersion"},"description":"Version of the list to calculate diff from","required":false}],"responses":{"200":{"description":"Successful response","headers":{"X-List-Version":{"schema":{"$ref":"#/components/schemas/ListVersion"},"description":"Version of the returned list"},"X-List-Checksum":{"schema":{"$ref":"#/components/schemas/Sha1Checksum"},"description":"Sha1 sum of the complete list"},"X-Diff-Checksum":{"schema":{"$ref":"#/components/schemas/Sha1Checksum"},"description":"Sha1 sum of returned diff contents"},"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}},"content":{"text/plain":{"schema":{"type":"string","example":"--- 20201105123100\t2021-02-12 12:16:40.713104979 +0000\n+++ 20201210235100\t2021-02-12 12:16:48.817074016 +0000\n@@ -33,7 +33,6 @@\n&adsafe=\n&adserv=\n&adserver=\n-&adsize=\n&adslot=\n&adslots=\n&adsourceid=\n@@ -47,7 +46,6 @@\n&adv_keywords=\n&advert_\n-&advid=$~image\n&adzone=\n&banner_id=\n&bannerid=\n"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Invalid category parameter":{"$ref":"#/paths/~1v2~1cybersec~1lists~1%7BlistCategory%7D~1%7BlistIdentifier%7D/get/responses/400/content/application~1json/examples/Invalid%20category%20parameter"},"Invalid identifier parameter":{"$ref":"#/paths/~1v2~1cybersec~1lists~1%7BlistCategory%7D~1%7BlistIdentifier%7D/get/responses/400/content/application~1json/examples/Invalid%20identifier%20parameter"},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"List not found":{"value":{"errors":{"code":902154,"message":"List not found"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/auc/lists":{"get":{"operationId":"aucLists","deprecated":true,"tags":["AUC"],"summary":"Get AUC lists","description":"This endpoint is deprecated in favour of /v2/cybersec/urls/allowed-domains\n"}},"/v2/cybersec/auc/lists/hashed":{"get":{"operationId":"aucListsHashed","deprecated":true,"tags":["AUC"],"summary":"Get AUC hashed lists","description":"This endpoint is deprecated in favour of /v2/cybersec/urls/allowed-domains\n"}},"/v2/cybersec/urls/allowed-domains":{"get":{"tags":["Urls"],"summary":"Get Allowed Domains lists","description":"This endpoint returns a 302 to an AWS bucket containing the domain whitelist and url exception list. The returned data might depend on the user's country.\n","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllowedDomains"},"example":{"whitelist":[{"url":"smilevideo.jp","categories":[1]},{"url":"google.com","categories":[1]}],"exceptions":[{"url":"https://docs.google.com/uc?id=1aPn-jlUT6D56WTZ0ayqEYqQk8XVE2qX","categories":[2]},{"url":"https://sites.google.com/site/loaded0208/bmZHtAWpNa.zip","categories":[2]}]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/urls/allowed-domains/hashed":{"get":{"tags":["Urls"],"summary":"Get Hashed Allowed Domains list","description":"This endpoint returns a 302 to an AWS bucket containing an hashed version of the domain whitelist and url exception list. The returned data might depend on the user's country.\n","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllowedDomainsHashed"},"example":{"whitelist":["44MD2UXWIkE","a278JTAr0Jo","h22jbkSq6KY"],"exceptions":{"3zz-Iz-TceA":2,"Cf7m5GkuRi0":2,"Uowuo71OmrE":2}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/urls/categories":{"get":{"operationId":"urlCategories","tags":["Urls"],"summary":"Get URL categories","description":"This endpoint returns URL category list for category ID mapping. Each entry contains category ID with it's description and whether it should be blocked on client side.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UrlCategoriesResponse"},"example":{"categories":[{"category":0,"name":"unknown","block":false,"subcategories":[]},{"category":1,"name":"safe","block":false,"subcategories":[]},{"category":2,"name":"malware","block":true,"subcategories":[]},{"category":3,"name":"phishing","block":true,"subcategories":[]},{"category":4,"name":"spam","block":true,"subcategories":[]},{"category":5,"name":"pua","block":true,"subcategories":[]},{"category":6,"name":"puse","block":true,"subcategories":[]},{"category":7,"name":"scam","block":true,"subcategories":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]}]}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/urls/check":{"post":{"operationId":"urlCheck","tags":["Urls"],"summary":"Perform an URL check","description":"This endpoint returns performs a query on provided url list for fraudulent content. Returned list contains category array for each url and status code.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UrlCheckRequest"},"example":{"urls":["https://www.foo.bar/","https://drive.google.com/uc?export=download&id=1BZuTEOoNJlLtZrtxLkl-QvKMmwZb3-3M","https://google.com/q"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UrlCheckResponse"},"example":{"urls":[{"url":"https://www.foo.bar/","status":2,"categories":[0],"category_details":[]},{"url":"https://drive.google.com/uc?export=download&id=1BZuTEOoNJlLtZrtxLkl-QvKMmwZb3-3M","status":0,"categories":[2],"category_details":[1,2,3]},{"url":"https://google.com/q","status":0,"categories":[1],"category_details":[]}],"cache":[{"domain":"google.com","ttl":3039,"categories":[1]}]}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Urls parameter is missing":{"value":{"errors":{"code":905155,"message":"'urls' parameter is missing"}}},"Invalid url":{"value":{"errors":{"code":905162,"message":"'urls' parameter contains an invalid url"}}},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"413":{"$ref":"#/components/responses/ContentTooLarge"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/files/extensions":{"get":{"operationId":"fileExtensions","tags":["Files"],"summary":"Get file extensions","description":"Returns a list for portable and non portable executable file extensions.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileExtensionsResponse"},"example":{"pe_extensions":["acm","ax","cpl","dll","drv","efi","exe","mui","ocx","scr","sys","tsp","elf"],"non_pe_extensions":["apk","swf","dex","do*","?ht*","asp","ht*","php","shtm*","jar","class","lnk","bin","pdf","ppt*","pot*","pps*","rtf","xl*","bat","cmd","csh","css","eml","inf","ini","ins","isp","js*","osd","pl*","ps1","psh","scf","script","sh","vb*","wsc","wsf","wsh","xml","vb?","mpp","mpt","ms?","pkg","dmg"]}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/files/check":{"post":{"operationId":"fileCheckV2","tags":["Files"],"summary":"Perform a file check","description":"This endpoint performs a malware database check on a sha256 hash-sum of the file.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileCheckRequestV2"},"example":{"files":[{"sha256":"7aa06e635fabfdf046ec5baa11e9cd91c7b3a6d0d2d3d2aa64aecc494be1e88e","can_upload":true,"size":1024,"name":"file.exe","url":"https://foo.bar/file.exe"}]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileCheckResponseV2"},"example":{"files":[{"sha256":"7aa06e635fabfdf046ec5baa11e9cd91c7b3a6d0d2d3d2aa64aecc494be1e88e","categories":[{"id":2,"description":"LINUX/Hajime.nsnlw"}],"ttl":1797,"status":0,"upload_url":""}]}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Files parameter is missing":{"value":{"errors":{"code":905156,"message":"'files' parameter is missing"}}},"File checksum parameter is missing":{"value":{"errors":{"code":905157,"message":"file entries must have a checksum parameter"}}},"Invalid file checksum":{"value":{"errors":{"code":905158,"message":"Invalid checksum length"}}},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/files/upload/{sha256}":{"post":{"operationId":"fileUploadV2","tags":["Files"],"summary":"Upload a file for malware check","description":"Use this endpoint for file upload for malware inspection. File is only accepted if it was previously requested by hash check.","parameters":[{"name":"sha256","in":"path","schema":{"$ref":"#/components/schemas/Sha256Checksum"},"description":"sha256 checksum of the file","required":true}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary","description":"File size limit is 4MB"}}}}}},"responses":{"202":{"description":"Successful response","headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"File checksum mismatch":{"value":{"errors":{"code":905159,"message":"File checksum mismatch"}}},"Unexpected file":{"value":{"errors":{"code":905160,"message":"Unexpected file"}}},"Invalid file checksum":{"$ref":"#/paths/~1v2~1cybersec~1files~1check/post/responses/400/content/application~1json/examples/Invalid%20file%20checksum"},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"413":{"description":"File is too large","headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/files/ml-upload/{sha256}":{"post":{"operationId":"mlFileUploadV2","tags":["Files"],"summary":"Upload malware file for ML models training","description":"Use this endpoint to upload malware file for ML models training. File is only accepted if it was previously requested by hash check and file has category malware.","parameters":[{"name":"sha256","in":"path","schema":{"$ref":"#/components/schemas/Sha256Checksum"},"description":"sha256 checksum of the file","required":true}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary","description":"File size limit is 4MB"}}}}}},"responses":{"202":{"description":"Successful response"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"File checksum mismatch":{"$ref":"#/paths/~1v2~1cybersec~1files~1upload~1%7Bsha256%7D/post/responses/400/content/application~1json/examples/File%20checksum%20mismatch"},"Unexpected file":{"$ref":"#/paths/~1v2~1cybersec~1files~1upload~1%7Bsha256%7D/post/responses/400/content/application~1json/examples/Unexpected%20file"},"Invalid file checksum":{"$ref":"#/paths/~1v2~1cybersec~1files~1check/post/responses/400/content/application~1json/examples/Invalid%20file%20checksum"},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"413":{"description":"File is too large"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v3/cybersec/files/mime-types":{"get":{"operationId":"fileMimeTypes","tags":["Files"],"summary":"Get file mime-types","description":"Returns a list of scan and deep-scan file MIME types.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileMimeTypesResponse"},"example":{"deep_scan_types":["application/vnd.microsoft.portable-executable","application/x-ms-ne-executable","application/efi","application/x-pie-executable","application/x-executable"],"scan_types":["application/vnd.android.package-archive","application/x-shockwave-flash","application/msword","application/vnd.openxmlformats-officedocument.wordprocessingml.document","text/html","text/x-php","application/java-archive"]}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v3/cybersec/files/check":{"post":{"operationId":"fileCheckV3","tags":["Files"],"summary":"Perform a file check","description":"This endpoint performs a malware database check on a sha256 hash-sum of the file.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileCheckRequestV3"},"example":{"files":[{"sha256":"7aa06e635fabfdf046ec5baa11e9cd91c7b3a6d0d2d3d2aa64aecc494be1e88e","can_upload":true,"size":1024,"name":"file.exe","url":"https://foo.bar/file.exe","mime_type":"application/vnd.microsoft.portable-executable"}]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileCheckResponseV3"},"example":{"files":[{"sha256":"7aa06e635fabfdf046ec5baa11e9cd91c7b3a6d0d2d3d2aa64aecc494be1e88e","categories":[{"id":2,"description":"LINUX/Hajime.nsnlw"}],"ttl":1797,"status":0,"upload_url":""}]}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Files parameter is missing":{"$ref":"#/paths/~1v2~1cybersec~1files~1check/post/responses/400/content/application~1json/examples/Files%20parameter%20is%20missing"},"File checksum parameter is missing":{"$ref":"#/paths/~1v2~1cybersec~1files~1check/post/responses/400/content/application~1json/examples/File%20checksum%20parameter%20is%20missing"},"Invalid file checksum":{"$ref":"#/paths/~1v2~1cybersec~1files~1check/post/responses/400/content/application~1json/examples/Invalid%20file%20checksum"},"Unexpected File Mime-Type":{"value":{"errors":{"code":904179,"message":"Unexpected file mime-type"}}},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v3/cybersec/files/upload/{sha256}":{"post":{"operationId":"fileUploadV3","tags":["Files"],"summary":"Upload a file for malware check","description":"Use this endpoint for file upload for malware inspection. File is only accepted if it was previously requested by hash check.","parameters":[{"name":"sha256","in":"path","schema":{"$ref":"#/components/schemas/Sha256Checksum"},"description":"sha256 checksum of the file","required":true}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary","description":"File size limit is 4MB"}}}}}},"responses":{"202":{"description":"Successful response","headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"File checksum mismatch":{"$ref":"#/paths/~1v2~1cybersec~1files~1upload~1%7Bsha256%7D/post/responses/400/content/application~1json/examples/File%20checksum%20mismatch"},"Unexpected file":{"$ref":"#/paths/~1v2~1cybersec~1files~1upload~1%7Bsha256%7D/post/responses/400/content/application~1json/examples/Unexpected%20file"},"Invalid file checksum":{"$ref":"#/paths/~1v2~1cybersec~1files~1check/post/responses/400/content/application~1json/examples/Invalid%20file%20checksum"},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"},"Unexpected File Mime-Type":{"$ref":"#/paths/~1v3~1cybersec~1files~1check/post/responses/400/content/application~1json/examples/Unexpected%20File%20Mime-Type"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"413":{"description":"File is too large","headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v3/cybersec/files/ml-upload/{sha256}":{"post":{"operationId":"mlFileUploadV3","tags":["Files"],"summary":"Upload malware file for ML models training","description":"Use this endpoint to upload malware file for ML models training. File is only accepted if it was previously requested by hash check and file has category malware.","parameters":[{"name":"sha256","in":"path","schema":{"$ref":"#/components/schemas/Sha256Checksum"},"description":"sha256 checksum of the file","required":true}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary","description":"File size limit is 4MB"}}}}}},"responses":{"202":{"description":"Successful response"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"File checksum mismatch":{"$ref":"#/paths/~1v2~1cybersec~1files~1upload~1%7Bsha256%7D/post/responses/400/content/application~1json/examples/File%20checksum%20mismatch"},"Unexpected file":{"$ref":"#/paths/~1v2~1cybersec~1files~1upload~1%7Bsha256%7D/post/responses/400/content/application~1json/examples/Unexpected%20file"},"Invalid file checksum":{"$ref":"#/paths/~1v2~1cybersec~1files~1check/post/responses/400/content/application~1json/examples/Invalid%20file%20checksum"},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"},"Unexpected File Mime-Type":{"$ref":"#/paths/~1v3~1cybersec~1files~1check/post/responses/400/content/application~1json/examples/Unexpected%20File%20Mime-Type"}}}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"413":{"description":"File is too large"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/ml-models":{"get":{"operationId":"mlModels","tags":["ML Models"],"summary":"Get ML Models","description":"Retrieves a ML Models available","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MlModelInfo"}},"example":[{"name":"model-win32","project_id":"4321","project_name":"quickscan","url":"https://cloufront-path/v3.com/","identifier":"3.0.0","threshold_low":0.5,"threshold_high":0.9}]}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/ml-models/{name}/{modelVersionIdentifier}":{"get":{"operationId":"mlModelGet","tags":["ML Models"],"summary":"Get ML Models info","description":"Returns data of an specific ML Model version, include URL to get the file and the thresholds","parameters":[{"name":"name","in":"path","schema":{"type":"string","example":"quickscan-linux-x64"},"description":"ML Model name","required":true},{"name":"modelVersionIdentifier","in":"path","schema":{"type":"string","example":"0.0.7"},"description":"ML Model version identifier","required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MlModelInfo"},"example":{"name":"model-win32.dll","url":"https://cloudfront-path/v1","project_id":"4321","project_name":"quickscan","identifier":"1.0.0","threshold_low":0.5,"threshold_high":0.8}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v2/cybersec/applications/check":{"post":{"operationId":"applicationsCheck","tags":["Applications"],"summary":"Perform a applications vulnerabilities check","description":"This endpoint performs vulnerabilities database check on applications name, version, OS an OS version.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationsCheckRequest"},"example":{"os":"Windows","os_version":"11.0.1","applications":[{"name":"Google Chrome","version":"1.0.0"},{"name":"Spotify","version":"1.0.0"}]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationsCheckResponse"},"example":[{"name":"Google Chrome","version":"1.0.0","description":"upated description","fixed_version":"2.0.2","severity":3},{"name":"Spotify","version":"1.0.0","description":"upated description","fixed_version":"2.0.2","severity":7.5}]}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Applications parameter is missing":{"value":{"errors":{"code":905176,"message":"'applications' parameter is missing"}}},"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v3/cybersec/cookies/check":{"post":{"operationId":"cookiesCheck","tags":["Cookies"],"summary":"Perform a leaked cookies check","description":"This endpoint performs leaked cookies check on supported by Serity service.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CookiesCheckRequest"},"example":{"short_cookie_sha256":["12345678","12233441"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CookiesCheckResponse"},"example":{"cookies":[{"hash":"7cbd4cb8d64ca4f37e697cf77d580feaf3823d62860b3fd3429108332feea153","domain":"some-site.com"},{"hash":"7dbd4cb8d64ca4f37e697cf77d580feaf3823d62860b3fd3429108332feea153","domain":"another-site.com"}]}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"},"Invalid cookie format":{"value":{"errors":{"code":904183,"message":"Invalid cookie format"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/ResourcesExhausted"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}},"/v3/cybersec/cryptoaddresses/check":{"post":{"operationId":"cryptoAddressesCheck","tags":["Crypto Addresses"],"summary":"Perform a crypto addresses check","description":"This endpoint performs a crypto addresses check.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoAddressesCheckRequest"},"example":{"url":"http://example.com/abc","addresses":["0xABC12345abc123","0xCDE67890cde456"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","example":{"reputations":[{"address":"0xABC12345abc123","category":1,"chains":[{"chain_id":"chain_12","risks":[{"risk_category":1,"score":12}]}]},{"address":"0xCDE67890cde456","category":1,"chains":[{"chain_id":"chain_12","risks":[{"risk_category":1,"score":12}]}]}]}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"Authorization header not provided":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Authorization%20header%20not%20provided"},"Invalid authorization header":{"$ref":"#/paths/~1v2~1cybersec~1lists/get/responses/400/content/application~1json/examples/Invalid%20authorization%20header"},"Invalid url":{"$ref":"#/paths/~1v2~1cybersec~1urls~1check/post/responses/400/content/application~1json/examples/Invalid%20url"},"Invalid address":{"value":{"errors":{"code":904185,"message":"Invalid crypto address"}}},"Invalid address request":{"value":{"errors":{"code":904186,"message":"Invalid crypto address request"}}}}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/schemas/X-Correlation-ID"}}},"401":{"$ref":"#/components/responses/InvalidCredentials"},"403":{"$ref":"#/components/responses/ServiceForbidden"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/ResourcesExhausted"},"503":{"$ref":"#/components/responses/AuthServiceUnavailable"}}}}}}