{"openapi":"3.0.4","info":{"title":"Platform Integration API","description":"API for integration with platform data.","contact":{"name":"Vakaris Noreika","email":"vakaris.noreika@nordsec.com"},"version":"3"},"servers":[{"url":"https://platform-integration-api.nordstellar.com"}],"paths":{"/v1/events/combo-lists/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves combo list event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Models.ComboList"},"example":{"id":"52c6fd64-8e91-46f2-ba5a-8761e103f9cf","project_id":"1e4d2e74-1c31-4116-a33d-8806e1b3ef29","type":"COMBO_LIST","module":"LEAKED_DATA","risk_level":"HIGH","is_resolved":false,"date_added":"2020-05-01T08:06:32.000Z","asset":{"type":"EMAIL","value":"test@example.com"},"tags":["CREDENTIALS"],"passwords":["password123","password456","password789"]}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/dark-web-forum-posts/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves dark web forum post event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Models.DarkWebForumPost"},"example":{"id":"d7443de3-ad45-4ec5-91d2-d465b0fe2f73","project_id":"1e4d2e74-1c31-4116-a33d-8806e1b3ef29","type":"DARK_WEB_FORUM_POST","module":"DARK_WEB_MONITORING","risk_level":"INFORMATIONAL","is_resolved":false,"date_added":"2024-03-15T10:30:00.000Z","tags":["CREDIT_CARDS","MARKETPLACE","COMBO_LIST"],"dark_web_monitoring_rule_name":"Company Credentials Monitor","forum_name":"DarkMarket","forum_title":"Credential Marketplace","forum_section":"Data Leaks","author":"anonymous_seller","posted_at":"2024-03-14T22:15:00.000Z","scraped_at":"2024-03-15T01:00:00.000Z","url":"https://darkmarket.example/thread/12345","content":"Selling fresh credentials from recent database breach. DM for details.","query":"example AND tags:CREDIT_CARDS"}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/dark-web-marketplace-posts/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves dark web marketplace post event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DarkWebMarketplace.DarkWebMarketplacePost"},"example":{"id":"d7443de3-ad45-4ec5-91d2-d465b0fe2f73","project_id":"1e4d2e74-1c31-4116-a33d-8806e1b3ef29","type":"DARK_WEB_MARKETPLACE_POST","module":"DARK_WEB_MONITORING","risk_level":"INFORMATIONAL","is_resolved":false,"date_added":"2024-03-15T10:30:00.000Z","tags":["CREDIT_CARDS","MARKETPLACE","COMBO_LIST"],"dark_web_monitoring_rule_name":"Company Credentials Monitor","marketplace_title":"Credential Marketplace","site_domain_name":"example.com ","site_subdomain_url":"https://example.com /malware_logs","price":"10.00$","marketplace_type":"Logs","author":"co####er [platinum]","posted_at":"2024-03-14T22:15:00.000Z","scraped_at":"2024-03-15T01:00:00.000Z","url":"https://darkmarket.example/thread/12345","content":"Stealer: lumma Country: Punjab ISP: Pakistan Telecommunication Company Limited Links: animoto.com.","query":"example AND tags:CREDIT_CARDS"}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/dark-web-ransomware-posts/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves dark web Ransomware post event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DarkWebRansomware.DarkWebRansomwarePost"},"example":{"id":"9e4e5325-c399-433d-a803-fdde187681f6","project_id":"1e4d2e74-1c31-4116-a33d-8806e1b3ef29","type":"DARK_WEB_RANSOMWARE_POST","module":"DARK_WEB_MONITORING","risk_level":"INFORMATIONAL","is_resolved":false,"date_added":"2024-03-15T10:30:00.000Z","tags":["RANSOMWARE","MISSING_DOMAIN"],"dark_web_monitoring_rule_name":"Company Credentials Monitor","ransomware_title":"Company targeted in ransomware attack by Akira","author":"Akira","posted_at":"2024-03-14T22:15:00.000Z","scraped_at":"2024-03-15T01:00:00.000Z","url":"https://akiral2iz6a7qgd3ayp3l6yub7xx2uep76idk3u2kollpj5z3z636bad.onion/","victim_information":{"company_name":"Company name","website":"https://www.example.com","industry":"Public Safety","country":{"name":"United States","iso2":"US"},"company_type":"Public Company","company_size":"51-200 employees","revenue_range":"$15,000,000.00 - $25,000,000.00","address_location":"Davenport, Iowa 12345, US","socials":[{"type":"Facebook","url":"https://www.facebook.com/examplecompany"}]},"query":"example AND tags:CREDIT_CARDS"}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/dark-web-telegram-posts/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves dark web Telegram post event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Models.DarkWebTelegramPost"},"example":{"id":"d7443de3-ad45-4ec5-91d2-d465b0fe2f73","project_id":"1e4d2e74-1c31-4116-a33d-8806e1b3ef29","type":"DARK_WEB_TELEGRAM_POST","module":"DARK_WEB_MONITORING","risk_level":"INFORMATIONAL","is_resolved":false,"date_added":"2024-03-15T10:30:00.000Z","tags":["CREDIT_CARDS","MARKETPLACE","COMBO_LIST"],"dark_web_monitoring_rule_name":"Company Credentials Monitor","channel_name":"DataLeaksChannel","channel_title":"Data Leaks & Breaches","author":"anonymous_seller","posted_at":"2024-03-14T22:15:00.000Z","scraped_at":"2024-03-15T01:00:00.000Z","url":"https://t.me/DataLeaksChannel/12345","content":"Selling fresh credentials from recent database breach. DM for details.","query":"example AND tags:CREDIT_CARDS"}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/data-breaches/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves data breach event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataBreach.DataBreach"},"example":{"id":"52c6fd64-8e91-46f2-ba5a-8761e103f9cf","project_id":"1e4d2e74-1c31-4116-a33d-8806e1b3ef29","type":"DATA_BREACH","module":"LEAKED_DATA","risk_level":"HIGH","is_resolved":false,"date_added":"2020-05-01T08:06:32.000Z","official_breach_date":"2020-01-01T08:00:00.000Z","asset":{"type":"EMAIL","value":"test@example.com"},"tags":["CREDENTIALS","PII"],"data_keys":"country,email,password","description":"Example.com experienced a data breach. Breach happened on the 1st of May 2020","data_breach_type":"IDENTIFIED","data_points":[{"data_key":"email","values":["test@example.com"]},{"data_key":"password","values":["password123"]}]}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/domain-permutations/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves domain permutation event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainPermutation.DomainPermutation"},"example":{"id":"1ea1494c-d1e7-4e7d-a87b-e69f4165e646","project_id":"1e4d2e74-1c31-4116-a33d-8806e1b3ef29","type":"DOMAIN_PERMUTATION","module":"DOMAIN_SQUATTING","risk_level":"HIGH","is_resolved":true,"date_added":"2023-02-01T05:18:00.000Z","tags":["dormant_infrastructure","suspicious_infrastructure","tld-swap"],"original_domain":"example.com","domain":"examble.com","permutation_type":"dictionary","detected_at":"2023-02-01T04:18:00.000Z","geo_ips":[{"address":"109.235.74.225","country_name":"The Netherlands","country_code_iso2":"NL"}],"whois":{"name":"REDACTED FOR PRIVACY","organization":"REDACTED FOR PRIVACY","registrar":"Realtime Register B.V.","contacts":"rtr-security-threats@realtimeregister.com","registration_date":"2024-11-19","expiration_date":"2025-11-19"},"service_banners":{"http":"cloudflare","smtp":"lotus.secure-hq.com ESMTP Postcow"},"threat_analysis":{"content_similarity":null,"visual_similarity":null},"redirects":[{"url":"http://meettelesoftas.com/","status_code":301}],"ai_analysis":{"threats":[{"type":"affiliate_fraud","confidence":85,"evidences":["Redirect chain leads to the original domain (telesoftas.com)","Contains similar content that matches the original domain","Different organization in WHOIS with privacy protection"],"severity":"CRITICAL"}],"recommendations":[{"action":"Monitor the domain and its activity closely","rationale":"High risk of affiliate fraud with potential attempts to intercept traffic to the legitimate site."}]},"name_servers":["ns2.yoursrs.com","ns1.yoursrs.com"],"mail_servers":["lotus.secure-hq.com"]}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/malware-infections/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves malware infection event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MalwareInfection.MalwareInfection"},"example":{"id":"52c6fd64-8e91-46f2-ba5a-8761e103f9cf","project_id":"1e4d2e74-1c31-4116-a33d-8806e1b3ef29","type":"MALWARE_INFECTION","stealer_name":"redline","identifier":"53956e45779669337341fd33337c7328e5a85b42576152b99ferdf26d736321f","module":"LEAKED_DATA","risk_level":"HIGH","is_resolved":false,"date_added":"2020-05-01T08:06:32.000Z","infection_date":"2020-01-01T08:00:00.000Z","asset":{"type":"EMAIL","value":"test@example.com"},"tags":["CORPORATE_CREDENTIALS","CORPORATE_COOKIES","CREDENTIALS"],"files":[{"path":"path/path/path/file1.txt"},{"path":"path/path/path/file2.pdf"}],"corporate_domain_cookies":[{"domain":"<redacted>","expired_cookies_count":1,"valid_cookies_count":1,"cookies":[{"name":"cache","value":"xnhgvsssffcsbs","expires_on":"2024-05-01T08:06:32.000Z","expired_for":1002145},{"name":"machine","value":"localhost","expires_on":"2025-05-01T08:06:32.000Z","expired_for":null}]}],"credentials":[{"url":"<redacted>","application":"Google Chrome","email":"test@example.com","username":"example","password":"asdjnashyssuasa","is_corporate":true},{"url":"<redacted>","application":"Google Chrome","email":"email@example.com","username":"Username","password":"Jonam@321","is_corporate":false}],"corporate_auto_fills":[{"name":"website","value":"<redacted>","browser":"Firefox"},{"name":"mobilePhone","value":"12354789","browser":"Internet Explorer"}],"credit_cards":[{"card_holder_name":"Name Surname","card_number":"xxxx-xxxx-xxxx","cvv":"123","expires_on":"01/01"}],"device_info":{"ip":"192.16.0.1","hardware_id":"191C0049FB5931205A5AFF3CD86DE984E","machine_id":"dddc5250b54c430eb942eb21e3df0fe5","os":"Windows 11 Home (10.0.22631) x64","user_name":"PICA","system_name":"User"},"location":{"zip_code":"4789456","country":"MA","location_name":"Casablanca, Casablanca-Settat","language":"en-GB","time_zone":"(UTC+01:00) Casablanca","date":"2020-05-01T08:06:32.000Z"}}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/open-ports/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves open port event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Models.OpenPort"},"example":{"id":"d7443de3-ad45-4ec5-91d2-d465b0fe2f73","type":"OPEN_PORT","module":"EXTERNAL_VULNERABILITIES","risk_level":"INFORMATIONAL","is_resolved":false,"date_added":"2020-05-01T08:06:32.000Z","asset":{"type":"IP","value":"192.168.0.1"},"tags":["cdn"],"port_number":80,"transport_protocol":"tcp","service":"Apache httpd","service_data":"HTTP/1.1 200 OK\nDate: Sat, 31 Aug 2024 09:10:21 GMT\nServer: Apache/2.4.57 (Ubuntu)","title":"CDR, Construction Daily Reports"}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/vulnerabilities/{event-id}":{"get":{"tags":["Events"],"summary":"Retrieves vulnerability event details.","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Models.Vulnerability"},"example":{"id":"55cfd1a8-9285-4fd9-bdfe-15a217d77d1f","type":"VULNERABILITY","module":"EXTERNAL_VULNERABILITIES","risk_level":"HIGH","is_resolved":false,"date_added":"2020-05-01T08:06:32.000Z","asset":{"type":"IP","value":"192.168.0.1"},"tags":["CLOUD"],"cve_identifier":"CVE-2020-1234","port_number":443,"port_transport_protocol":"tcp","port_service":"nginx","cvss2":7.5,"cvss3":null,"epss":0.04983,"description":"The HTTP/2 protocol allows a denial of service (server resource consumption) because request cancellation can reset many streams quickly","propose_action":"HTTP/2 contains a rapid reset vulnerability that allows for a distributed denial-of-service attack (DDoS).","references":["https://example.com/vulnerability/1","https://example.com/vulnerability/2"]}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/events/{event-id}/is_resolved":{"patch":{"tags":["Events"],"summary":"Resolves an event","parameters":[{"name":"event-id","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Resolve.EventState"}}}},"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Resolve.CommandResult"},"example":{"id":"52c6fd64-8e91-46f2-ba5a-8761e103f9cf","is_resolved":true}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/projects/{project-id}/events":{"get":{"tags":["Projects"],"summary":"Retrieves events for a specific project within a given date and time range.","parameters":[{"name":"project-id","in":"path","description":"Unique identifier of the project","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"date-added-from","in":"query","description":"Start datetime for filtering events (ISO 8601 format). Supported format: `YYYY-MM-DDTHH:MM:SS.000Z`","schema":{"type":"string","format":"date-time"}},{"name":"date-added-to","in":"query","description":"End datetime for filtering events (ISO 8601 format). Supported format: `YYYY-MM-DDTHH:MM:SS.000Z`","schema":{"type":"string","format":"date-time"}},{"name":"offset","in":"query","description":"Numeric offset of the first element provided on a page representing a collection request","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Limit to restrict the number of entries on a page","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V1.Response"},"example":{"items":[{"id":"52c6fd64-8e91-46f2-ba5a-8761e103f9cf","type":"DATA_BREACH","module":"LEAKED_DATA","risk_level":"INFORMATIONAL","is_resolved":false,"date_added":"2020-05-01T08:06:32.000Z","asset":{"type":"EMAIL","value":"test@example.com"},"tags":["CREDENTIALS"]},{"id":"4a13e3f8-2d01-4498-b951-03aaa4c8225f","type":"MALWARE_INFECTION","module":"LEAKED_DATA","risk_level":"LOW","is_resolved":false,"date_added":"2022-02-01T00:00:00.000Z","asset":{"type":"EMAIL","value":"test@example.com"},"tags":["CREDENTIALS","PII"]},{"id":"cdadc286-a63f-4286-bbef-4ec793e9412f","type":"COMBO_LIST","module":"LEAKED_DATA","risk_level":"HIGH","is_resolved":true,"date_added":"2023-05-01T08:06:32.000Z","asset":{"type":"EMAIL","value":"test@example.com"},"tags":["CREDENTIALS"]},{"id":"0f4df325-fb54-4bb9-9a14-64dc004def23","type":"DATA_BREACH","module":"LEAKED_DATA","risk_level":"HIGH","is_resolved":false,"date_added":"2023-05-14T08:06:32.000Z","asset":{"type":"PHONE","value":"5877892654"},"tags":["CREDENTIALS"]},{"id":"34a1d00d-04ab-45a8-bafb-2d9421a89770","type":"MALWARE_INFECTION","module":"LEAKED_DATA","risk_level":"HIGH","is_resolved":true,"date_added":"2023-05-15T01:06:45.000Z","asset":{"type":"EMAIL","value":"test@example.com"},"tags":["CREDENTIALS","CORPORATE_COOKIES","CORPORATE_CREDENTIALS"]},{"id":"d7443de3-ad45-4ec5-91d2-d465b0fe2f73","type":"OPEN_PORT","module":"EXTERNAL_VULNERABILITIES","risk_level":"INFORMATIONAL","is_resolved":true,"date_added":"2021-02-01T05:16:59.000Z","asset":{"type":"IP","value":"192.168.0.1"},"tags":["CLOUD","CDN"]},{"id":"55cfd1a8-9285-4fd9-bdfe-15a217d77d1f","type":"VULNERABILITY","module":"EXTERNAL_VULNERABILITIES","risk_level":"HIGH","is_resolved":true,"date_added":"2021-02-01T05:18:00.000Z","asset":{"type":"IP","value":"192.168.0.1"},"tags":["CLOUD","EOL-PRODUCT"]},{"id":"1ea1494c-d1e7-4e7d-a87b-e69f4165e646","type":"DOMAIN_PERMUTATION","module":"DOMAIN_SQUATTING","risk_level":"HIGH","is_resolved":true,"date_added":"2023-02-01T05:18:00.000Z","asset":{"type":"DOMAIN","value":"example.com"},"tags":["dormant_infrastructure","suspicious_infrastructure","tld-swap"]},{"id":"2ec1526c-c324-4b7b-bea2-5d339afed07a","type":"DARK_WEB_FORUM_POST","module":"DARK_WEB_MONITORING","risk_level":"INFORMATIONAL","is_resolved":true,"date_added":"2023-02-01T05:18:00.000Z","asset":{"type":"DARK_WEB_MONITORING_RULE","value":"Leaked forum posts"},"tags":["MARKETPLACE"]},{"id":"4743f069-c341-4d02-91a0-cd0199d02bf4","type":"DARK_WEB_TELEGRAM_POST","module":"DARK_WEB_MONITORING","risk_level":"INFORMATIONAL","is_resolved":true,"date_added":"2024-02-10T05:18:00.000Z","asset":{"type":"DARK_WEB_MONITORING_RULE","value":"Leaked telegram posts"},"tags":["TOP_5000_CF","TOP_20000_CF"]},{"id":"e85cd382-76db-4849-a485-cb480fc0b999","type":"DARK_WEB_RANSOMWARE_POST","module":"DARK_WEB_MONITORING","risk_level":"INFORMATIONAL","is_resolved":false,"date_added":"2025-10-15T05:18:00.000Z","asset":{"type":"DARK_WEB_MONITORING_RULE","value":"Ransomware posts"},"tags":["MISSING_DOMAIN","RANSOMWARE"]},{"id":"88376bc0-aca0-4f11-a097-4ead04e7b33c","type":"DARK_WEB_MARKETPLACE_POST","module":"DARK_WEB_MONITORING","risk_level":"INFORMATIONAL","is_resolved":false,"date_added":"2025-10-15T05:18:00.000Z","asset":{"type":"DARK_WEB_MONITORING_RULE","value":"Marketplace posts"},"tags":["MARKETPLACE","TOP_50000_CF"]}],"self":"https://example.com/v1/projetcs/1e4d2e74-1c31-4116-a33d-8806e1b3ef29/events?limit=5","next":"https://example.com/v1/projects/1e4d2e74-1c31-4116-a33d-8806e1b3ef29/events?offset=5&limit=5"}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}},"/v1/projects":{"get":{"tags":["Projects"],"summary":"This endpoint is designed to retrieve projects.","parameters":[{"name":"offset","in":"query","description":"Numeric offset of the first element provided on a page representing a collection request","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Limit to restrict the number of entries on a page","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"The request has succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProjects.Response"},"example":{"items":[{"id":"52c6fd64-8e91-46f2-ba5a-8761e103f9cf","name":"Project"},{"id":"e04fe001-6d0b-490e-957c-1234d9c08878","name":"Test project"},{"id":"ea47fdc0-afc6-4e51-8eb0-bab8a9618b5d","name":"new project"},{"id":"5a8bd777-9cc7-419e-b189-f35d57ed2437","name":"Test"},{"id":"8369a0b6-e7ed-4e62-9881-f3dd233b58c5","name":"Another project"}],"self":"https://example.com/v1/projects?limit=5","next":"https://example.com/v1/projects/?offset=5&limit=5"}}}},"400":{"description":"The server cannot or will not process the request due to an error made by the client.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request","title":"Bad Request","status":400,"instance":"/v1/resource/123","errors":{"FIELD A":["ERROR 1","ERROR 2"],"FIELD B":["ERROR 3"]}}}}},"401":{"description":"The server has received and understood the request but is unable to authenticate it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized","title":"Unauthorized","status":401,"detail":"User unauthorized.","instance":"/v1/resource/123"}}}},"403":{"description":"The server has received and understood the request but is unable to authorize it.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden","title":"Forbidden","status":403,"detail":"The user is not allowed to do an action for the specified resource.","instance":"/v1/resource/123"}}}},"500":{"description":"The server has encountered a situation it does not know how to handle.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"type":"https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error","title":"Internal Server Error","status":500,"detail":"Something went wrong","instance":"/v1/resource/123"}}}}}}}},"components":{"schemas":{"DarkWebMarketplace.DarkWebMarketplacePost":{"required":["author","content","dark_web_monitoring_rule_name","date_added","id","is_resolved","marketplace_title","marketplace_type","module","posted_at","price","project_id","query","risk_level","scraped_at","site_domain_name","site_subdomain_url","tags","type","url"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"dark_web_monitoring_rule_name":{"type":"string"},"marketplace_title":{"type":"string"},"site_domain_name":{"type":"string"},"site_subdomain_url":{"type":"string"},"price":{"type":"string"},"marketplace_type":{"$ref":"#/components/schemas/DarkWebMarketplace.MarketplaceType"},"author":{"type":"string"},"posted_at":{"type":"string","format":"date-time","nullable":true},"scraped_at":{"type":"string","format":"date-time","nullable":true},"url":{"type":"string"},"content":{"type":"string"},"query":{"type":"string"}},"additionalProperties":false},"DarkWebMarketplace.MarketplaceType":{"enum":["Unspecified","Logs","CreditCards"],"type":"string"},"DarkWebRansomware.Country":{"required":["iso2","name"],"type":"object","properties":{"name":{"type":"string"},"iso2":{"type":"string"}},"additionalProperties":false},"DarkWebRansomware.DarkWebRansomwarePost":{"required":["author","dark_web_monitoring_rule_name","date_added","id","is_resolved","module","posted_at","project_id","query","ransomware_title","risk_level","scraped_at","tags","type","url","victim_information"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"dark_web_monitoring_rule_name":{"type":"string"},"ransomware_title":{"type":"string"},"author":{"type":"string"},"posted_at":{"type":"string","format":"date-time","nullable":true},"scraped_at":{"type":"string","format":"date-time","nullable":true},"url":{"type":"string"},"victim_information":{"$ref":"#/components/schemas/DarkWebRansomware.Victim"},"query":{"type":"string"}},"additionalProperties":false},"DarkWebRansomware.Social":{"required":["type","url"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/DarkWebRansomware.SocialMediaType"},"url":{"type":"string"}},"additionalProperties":false},"DarkWebRansomware.SocialMediaType":{"enum":["Unspecified","Facebook","Linkedin","Twitter","Crunchbase","Instagram","Youtube","Github","Reddit","Discord","Pinterest","Tiktok"],"type":"string"},"DarkWebRansomware.Victim":{"required":["address_location","company_name","company_size","company_type","country","industry","revenue_range","socials","website"],"type":"object","properties":{"company_name":{"type":"string"},"website":{"type":"string"},"industry":{"type":"string"},"country":{"$ref":"#/components/schemas/DarkWebRansomware.Country"},"company_type":{"type":"string"},"company_size":{"type":"string"},"revenue_range":{"type":"string"},"address_location":{"type":"string"},"socials":{"type":"array","items":{"$ref":"#/components/schemas/DarkWebRansomware.Social"}}},"additionalProperties":false},"DataBreach.DataBreach":{"required":["asset","data_keys","date_added","id","is_resolved","module","official_breach_date","project_id","risk_level","tags","type"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"official_breach_date":{"type":"string","format":"date-time","nullable":true},"asset":{"$ref":"#/components/schemas/Models.Asset"},"tags":{"type":"array","items":{"type":"string"}},"data_keys":{"type":"string"},"description":{"type":"string","nullable":true},"data_breach_type":{"$ref":"#/components/schemas/DataBreach.DataBreachType"},"data_points":{"type":"array","items":{"$ref":"#/components/schemas/DataBreach.DataPoint"}}},"additionalProperties":false},"DataBreach.DataBreachType":{"enum":["UNKNOWN","IDENTIFIED","UNIDENTIFIED","COLLECTION"],"type":"string"},"DataBreach.DataPoint":{"required":["data_key","values"],"type":"object","properties":{"data_key":{"type":"string"},"values":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"DomainPermutation.AiAnalysis":{"required":["recommendations","threats"],"type":"object","properties":{"threats":{"type":"array","items":{"$ref":"#/components/schemas/DomainPermutation.Threat"}},"recommendations":{"type":"array","items":{"$ref":"#/components/schemas/DomainPermutation.Recommendation"}}},"additionalProperties":false},"DomainPermutation.DomainPermutation":{"required":["ai_analysis","date_added","detected_at","domain","geo_ips","id","is_resolved","mail_servers","module","name_servers","original_domain","permutation_type","project_id","redirects","risk_level","service_banners","tags","threat_analysis","type","whois"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"original_domain":{"type":"string"},"domain":{"type":"string"},"permutation_type":{"type":"string"},"detected_at":{"type":"string","format":"date-time"},"geo_ips":{"type":"array","items":{"$ref":"#/components/schemas/DomainPermutation.GeoIp"}},"whois":{"$ref":"#/components/schemas/DomainPermutation.WhoisInfo"},"service_banners":{"$ref":"#/components/schemas/DomainPermutation.ServiceBanners"},"threat_analysis":{"$ref":"#/components/schemas/DomainPermutation.ThreatAnalysis"},"redirects":{"type":"array","items":{"$ref":"#/components/schemas/DomainPermutation.Redirect"}},"ai_analysis":{"$ref":"#/components/schemas/DomainPermutation.AiAnalysis"},"name_servers":{"type":"array","items":{"type":"string"}},"mail_servers":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"DomainPermutation.GeoIp":{"required":["address","country_code_iso2"],"type":"object","properties":{"address":{"type":"string"},"country_name":{"type":"string","nullable":true},"country_code_iso2":{"type":"string","nullable":true}},"additionalProperties":false},"DomainPermutation.Recommendation":{"required":["action","rationale"],"type":"object","properties":{"action":{"type":"string","nullable":true},"rationale":{"type":"string","nullable":true}},"additionalProperties":false},"DomainPermutation.Redirect":{"required":["status_code","url"],"type":"object","properties":{"url":{"type":"string"},"status_code":{"type":"integer","format":"int32"}},"additionalProperties":false},"DomainPermutation.ServiceBanners":{"required":["http","smtp"],"type":"object","properties":{"http":{"type":"string","nullable":true},"smtp":{"type":"string","nullable":true}},"additionalProperties":false},"DomainPermutation.Threat":{"required":["confidence","evidences","severity","type"],"type":"object","properties":{"type":{"type":"string"},"confidence":{"type":"number","format":"double"},"evidences":{"type":"array","items":{"type":"string"}},"severity":{"$ref":"#/components/schemas/Models.RiskLevel"}},"additionalProperties":false},"DomainPermutation.ThreatAnalysis":{"required":["content_similarity","visual_similarity"],"type":"object","properties":{"content_similarity":{"type":"number","format":"double","nullable":true},"visual_similarity":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"DomainPermutation.WhoisInfo":{"required":["contacts","expiration_date","name","organization","registrar","registration_date"],"type":"object","properties":{"name":{"type":"string","nullable":true},"organization":{"type":"string","nullable":true},"registrar":{"type":"string","nullable":true},"contacts":{"type":"string","nullable":true},"registration_date":{"type":"string","nullable":true},"expiration_date":{"type":"string","nullable":true}},"additionalProperties":false},"ListProjects.Project":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string","description":"Unique identifier of the project","format":"uuid"},"name":{"type":"string","description":"Name of the project"}},"additionalProperties":false},"ListProjects.Response":{"type":"object","properties":{"self":{"type":"string","description":"Url link pointing to the same page"},"next":{"type":"string","description":"Url link pointing to the next page","nullable":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/ListProjects.Project"},"description":"Collection of projects"}},"additionalProperties":false},"MalwareInfection.Autofill":{"required":["browser","name","value"],"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"browser":{"type":"string"}},"additionalProperties":false},"MalwareInfection.Cookie":{"required":["expired_for","expires_on","name","value"],"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"expires_on":{"type":"string","format":"date-time","nullable":true},"expired_for":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"MalwareInfection.Credentials":{"required":["application","email","is_corporate","password","url","username"],"type":"object","properties":{"url":{"type":"string"},"application":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"},"is_corporate":{"type":"boolean"}},"additionalProperties":false},"MalwareInfection.CreditCard":{"required":["card_holder_name","card_number","cvv","expires_on"],"type":"object","properties":{"card_holder_name":{"type":"string"},"card_number":{"type":"string"},"cvv":{"type":"string"},"expires_on":{"type":"string","nullable":true}},"additionalProperties":false},"MalwareInfection.DeviceInfo":{"required":["hardware_id","ip","machine_id","os","system_name","user_name"],"type":"object","properties":{"ip":{"type":"string"},"hardware_id":{"type":"string"},"machine_id":{"type":"string"},"os":{"type":"string"},"user_name":{"type":"string"},"system_name":{"type":"string"}},"additionalProperties":false},"MalwareInfection.DomainCookies":{"required":["cookies","domain","expired_cookies_count","valid_cookies_count"],"type":"object","properties":{"domain":{"type":"string"},"expired_cookies_count":{"type":"integer","format":"int32"},"valid_cookies_count":{"type":"integer","format":"int32"},"cookies":{"type":"array","items":{"$ref":"#/components/schemas/MalwareInfection.Cookie"}}},"additionalProperties":false},"MalwareInfection.File":{"required":["path"],"type":"object","properties":{"path":{"type":"string"}},"additionalProperties":false},"MalwareInfection.Location":{"required":["country","date","language","location_name","time_zone","zip_code"],"type":"object","properties":{"zip_code":{"type":"string"},"country":{"type":"string"},"location_name":{"type":"string"},"language":{"type":"string"},"time_zone":{"type":"string"},"date":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"MalwareInfection.MalwareInfection":{"required":["asset","corporate_auto_fills","corporate_domain_cookies","credentials","credit_cards","date_added","device_info","files","id","identifier","infection_date","is_resolved","location","module","project_id","risk_level","stealer_name","tags","type"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"stealer_name":{"type":"string","nullable":true},"identifier":{"type":"string"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"infection_date":{"type":"string","format":"date-time","nullable":true},"asset":{"$ref":"#/components/schemas/Models.Asset"},"tags":{"type":"array","items":{"type":"string"}},"files":{"type":"array","items":{"$ref":"#/components/schemas/MalwareInfection.File"}},"corporate_domain_cookies":{"type":"array","items":{"$ref":"#/components/schemas/MalwareInfection.DomainCookies"}},"credentials":{"type":"array","items":{"$ref":"#/components/schemas/MalwareInfection.Credentials"}},"corporate_auto_fills":{"type":"array","items":{"$ref":"#/components/schemas/MalwareInfection.Autofill"}},"credit_cards":{"type":"array","items":{"$ref":"#/components/schemas/MalwareInfection.CreditCard"}},"device_info":{"$ref":"#/components/schemas/MalwareInfection.DeviceInfo"},"location":{"$ref":"#/components/schemas/MalwareInfection.Location"}},"additionalProperties":false},"Models.Asset":{"required":["type","value"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/Models.AssetType"},"value":{"type":"string"}},"additionalProperties":false},"Models.AssetType":{"enum":["UNKNOWN","EMAIL","PHONE","IP","DARK_WEB_MONITORING_RULE","DOMAIN"],"type":"string"},"Models.ComboList":{"required":["asset","date_added","id","is_resolved","module","passwords","project_id","risk_level","tags","type"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"asset":{"$ref":"#/components/schemas/Models.Asset"},"tags":{"type":"array","items":{"type":"string"}},"passwords":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"Models.DarkWebForumPost":{"required":["author","content","dark_web_monitoring_rule_name","date_added","forum_name","forum_section","forum_title","id","is_resolved","module","posted_at","project_id","query","risk_level","scraped_at","tags","type","url"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"dark_web_monitoring_rule_name":{"type":"string"},"forum_name":{"type":"string"},"forum_title":{"type":"string"},"forum_section":{"type":"string"},"author":{"type":"string"},"posted_at":{"type":"string","format":"date-time"},"scraped_at":{"type":"string","format":"date-time"},"url":{"type":"string"},"content":{"type":"string"},"query":{"type":"string"}},"additionalProperties":false},"Models.DarkWebTelegramPost":{"required":["author","channel_name","channel_title","content","dark_web_monitoring_rule_name","date_added","id","is_resolved","module","posted_at","project_id","query","risk_level","scraped_at","tags","type","url"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"project_id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"dark_web_monitoring_rule_name":{"type":"string"},"channel_name":{"type":"string"},"channel_title":{"type":"string"},"author":{"type":"string"},"posted_at":{"type":"string","format":"date-time"},"scraped_at":{"type":"string","format":"date-time"},"url":{"type":"string"},"content":{"type":"string"},"query":{"type":"string"}},"additionalProperties":false},"Models.Event":{"required":["asset","date_added","id","is_resolved","module","risk_level","tags","type"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"asset":{"$ref":"#/components/schemas/Models.Asset"},"tags":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"Models.EventType":{"enum":["UNKNOWN","DATA_BREACH","COMBO_LIST","MALWARE_INFECTION","OPEN_PORT","VULNERABILITY","DARK_WEB_FORUM_POST","DARK_WEB_TELEGRAM_POST","DOMAIN_PERMUTATION","DARK_WEB_RANSOMWARE_POST","DARK_WEB_MARKETPLACE_POST"],"type":"string"},"Models.ModuleType":{"enum":["UNKNOWN","LEAKED_DATA","EXTERNAL_VULNERABILITIES","DARK_WEB_MONITORING","DOMAIN_SQUATTING"],"type":"string"},"Models.OpenPort":{"required":["asset","date_added","id","is_resolved","module","port_number","risk_level","service","service_data","tags","title","transport_protocol","type"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"asset":{"$ref":"#/components/schemas/Models.Asset"},"tags":{"type":"array","items":{"type":"string"}},"port_number":{"type":"integer","format":"int32"},"transport_protocol":{"type":"string","nullable":true},"service":{"type":"string","nullable":true},"service_data":{"type":"string","nullable":true},"title":{"type":"string","nullable":true}},"additionalProperties":false},"Models.RiskLevel":{"enum":["UNKNOWN","INFORMATIONAL","LOW","MEDIUM","HIGH","CRITICAL"],"type":"string"},"Models.Vulnerability":{"required":["asset","cve_identifier","cvss2","cvss3","date_added","description","epss","id","is_resolved","module","port_number","port_service","port_transport_protocol","propose_action","references","risk_level","tags","type"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"$ref":"#/components/schemas/Models.EventType"},"module":{"$ref":"#/components/schemas/Models.ModuleType"},"risk_level":{"$ref":"#/components/schemas/Models.RiskLevel"},"is_resolved":{"type":"boolean"},"date_added":{"type":"string","format":"date-time","nullable":true},"asset":{"$ref":"#/components/schemas/Models.Asset"},"tags":{"type":"array","items":{"type":"string"}},"cve_identifier":{"type":"string"},"port_number":{"type":"integer","format":"int32"},"port_transport_protocol":{"type":"string","nullable":true},"port_service":{"type":"string","nullable":true},"cvss2":{"type":"number","format":"double","nullable":true},"cvss3":{"type":"number","format":"double","nullable":true},"epss":{"type":"number","format":"double","nullable":true},"description":{"type":"string","nullable":true},"propose_action":{"type":"string","nullable":true},"references":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"ProblemDetails":{"required":["detail","instance","status","title"],"type":"object","properties":{"type":{"type":"string","description":"A URI reference that identifies the type of the problem.","nullable":true},"title":{"type":"string","description":"A short summary of the type of the problem."},"status":{"maximum":599,"minimum":400,"type":"integer","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","format":"int32"},"detail":{"type":"string","description":"An explanation specific to this occurrence of the problem."},"instance":{"type":"string","description":"A unique identifier of this occurrence of the problem. Include it in your support request."}},"additionalProperties":{},"description":"Error information that describes why the request has failed. Format conforms to IETF's RFC 9457.","externalDocs":{"description":"RFC 9457 \"Problem Details for HTTP APIs\" by Internet Engineering Task Force","url":"https://datatracker.ietf.org/doc/html/rfc9457"}},"Resolve.CommandResult":{"type":"object","properties":{"event_projection_id":{"type":"string","format":"uuid"},"is_resolved":{"type":"boolean"}},"additionalProperties":false},"Resolve.EventState":{"type":"object","properties":{"is_resolved":{"type":"boolean","nullable":true}},"additionalProperties":false},"V1.Response":{"type":"object","properties":{"self":{"type":"string","description":"Url link pointing to the same page"},"next":{"type":"string","description":"Url link pointing to the next page","nullable":true},"items":{"type":"array","items":{"$ref":"#/components/schemas/Models.Event"},"description":"Collection of events"}},"additionalProperties":false},"ValidationProblemDetails":{"required":["detail","instance","status","title"],"type":"object","properties":{"type":{"type":"string","description":"A URI reference that identifies the type of the problem.","nullable":true},"title":{"type":"string","description":"A short summary of the type of the problem."},"status":{"maximum":599,"minimum":400,"type":"integer","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","format":"int32"},"detail":{"type":"string","description":"An explanation specific to this occurrence of the problem."},"instance":{"type":"string","description":"A unique identifier of this occurrence of the problem. Include it in your support request."},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"description":"A map of problems with the request that need to be solved by the requester, wherein the key is the source of the problem, and the value is its details."}},"additionalProperties":{},"description":"Error information that describes why the request has failed. Format conforms to IETF's RFC 9457.","externalDocs":{"description":"RFC 9457 \"Problem Details for HTTP APIs\" by Internet Engineering Task Force","url":"https://datatracker.ietf.org/doc/html/rfc9457"}}},"securitySchemes":{"Bearer":{"type":"http","description":"Please enter a valid token.","scheme":"Bearer","bearerFormat":"JWT"}}},"security":[{"Bearer":[]}]}